@import url('https://fonts.googleapis.com/css?family=Righteous|Indie+Flower|ZCOOL+QingKe+HuangYou&display=swap');

body {
    background-color: black;
    background-image: url("../images/background.svg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cccccc;
}

h1 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
    font-size: 40px;
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 25px;
    font-weight: 300;
    margin-left: 20px;
    line-height: 35px;
    text-align: left;
}


h3 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
    margin-top: 20px;
    color: rebeccapurple;
    font-size: 20px;
}

.ava {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.text_custom {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
    color: white;
    margin: 5px 5px;
    font-size: 18px;
}

.text_edit_acc {
    text-align: left;
    margin-left: 9%;
    font-size: 14px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
    margin-bottom: 5px;
}

.custom {
    margin-left: 30%;
    margin-top: 20px;

    height: 30%;
    width: 40vw;
    text-align: center;
    border: 2px solid rgba(245,245,241, 0.85);
    background-color:rgba(245,245,241, 0.85);
    border-radius: 20px;
    padding: 10px;
}

.input1 {
    width: 85%;
    margin-bottom: 10px;
    background-color: rgb(230, 230, 230);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    border: 0px;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    color: black;
}

.button.in_row {
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
}

.button.inactive {
    background-color: rgb(44,	65,	69);
}

.button.margin {
    margin-bottom: 8px;
}

.button {
    width: 50%;
    background-color: rgb(35,129,137);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: black;    
}

.txt {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
    font-size: 17px;
    /* line-height: 1.5; */
    color: black;
}

.no-margins {
    margin-bottom: 20px;
    margin-top: 0px;
    color:white;
}

.snap {
    width: 100%;
}

.snap th {
    width: 50%;
}


.profile_page {
    width: 100%;
}

/*                       NAVIGATION BAR                         */

.nav_bar {
    background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    overflow: hidden;
}

.nav_bar th {
    width: 20%;
    padding: 14px;
}

.nav_bar a {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;

    color: #f2f2f2;
    text-align: center;
    text-decoration: none; 
}
  
.nav_bar a:hover {
    text-decoration: underline;
}

.nav_bar a.active {
    text-decoration: underline;
}

ul.menu li{
    display: none;
    padding: 10px 10px 10px 20px;
}

ul.menu li:first-child{
    display: block;
    font-weight: bold;
    text-align: center;
    border-top:0px;
    padding-left:10px;
}

ul.menu:hover li{
    display:block;
}


*, *:before, *:after {
    box-sizing: border-box;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 20px 10% 20px 10%;
    background:rgb(35,129,137);;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
    display:block;
    text-decoration:none;
    padding:15px;
    color:white;
    font-size:15px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
}

.tab-group .active a {
    background: black;
}

.tab-group a:hover {
    background-color: black;
}

/*                                                  FOOTER                          */


#content-wrap {  padding-bottom: 2.5rem;  }
#page-container {  position: relative;  min-height: 90vh;}


.footer-basic-centered{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: center;
	font: normal 18px sans-serif;
    margin-left: 0px;
	padding: 45px;
    margin-top: 80px;
    margin-bottom: 20px;
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 2.5rem;

}

.footer-basic-centered .footer-company-motto{
    color:  whitesmoke;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
    color:  aquamarine;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-bottom: 10px;
    font-size: 15px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

.footer-basic-centered .footer-links a:hover{
	text-decoration: underline;
}

.booth {
    width: 600px;
    margin: 0 auto;
}

.last_elem {
    margin-bottom: 50px;
}

#canvas { display: none; }

.booth-button {
    display: block;
    background-color: cornflowerblue;
    color:white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.booth-button.hello {
    padding: 20px 20px;
}

.booth-button.hello:hover {
    padding: 20px 20px;
    cursor: pointer;
}

.feed {
    margin-top: 20px;
    width: 615px;
    height: 500px;
    text-align: center;
    border: 2px solid white;
    background-color:white;
    border-radius: 20px;
    padding: 10px;
}

.first_row {
    height: 40px;
    border-bottom: 2px solid grey;
}

input[type="file"] {
    display: none;
}

.hide {
    display: none;

}

.custom-file {
    margin-bottom: 20px;
}

.custom-file-upload {
    width: 50%;
    background-color: rgb(35,129,137);
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /* font-weight: 800; */
    font-size: 15px;
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
}
   
.custom-file-upload:hover {
    background-color: black;    
}

.product-list-basic{
    /* align: left; */
    list-style:none;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;


}

.product-list-basic li{
    box-sizing:border-box;
    display: inline-block;
    margin: 0 12px 14px 0;
    padding: 25px;
}

.product-list-basic img {
    display: block;
    
    width: 275px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}

.product-list-basic img:hover {
    filter: brightness(2.1) drop-shadow(4px 4px 4px, white);
    transform: scale(1.1);
}


.product-list-submit {
    width: 45%;
    margin: 0px 5px;
    background-color: black;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 18px;
    color:white;
    text-align: center;
    padding: 15px 10px;
    border: 0px;
    border-radius: 4px;
    text-decoration: none;
}

.product-list-submit-inactive {
    width: 45%;
    margin: 0px 5px;
    background-color: black;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 18px;
    color:white;
    text-align: center;
    padding: 15px 10px;
    border: 0px;
    border-radius: 4px;
    text-decoration: none;
}

.product-list-submit-inactive:hover {
    cursor: default;
    
}

.product-list-submit:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}

.stickers-list-basic {
    list-style:none;
    margin: 0 auto;
    /* max-width: 1200px; */
    width: 100%;

}

.stickers-list-basic li{
    box-sizing:border-box;
    display: inline-block;
    /* margin: 0 0px 0px 0; */
    padding: 15px;
}

.stickers-list-basic img {
    display: block;
    width: 75px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.stickers-list-basic img:hover {
    filter: brightness(2.1) drop-shadow(4px 4px 4px, white);
    transform: scale(1.1);
}

.stickers-list-submit {
    width: 100%;
    margin: 0px 5px;
    background-color: black;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 18px;
    color:white;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    text-decoration: none;
}

.stickers-list-submit:hover {
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
}
